log/*.log
log/*.out
log/*.pid

.dotest/
.dotest/*.

tmp/profile*
.DS_Store
doc/api
doc/app
doc/*.doc
db/schema.rb
db/schema.sql
db/*.sqlite3*
config/database.yml
public/photos/*
public/thumbnails
uuid.state
nbproject*
index/*


.project
.#*
\#*
*~
vendor/**/**/doc/*
vendor/plugins/footnotes/*

sphinx/*
sphinx_test/*
config/ultrasphinx/*.conf
*.swp
