<h2><%= @person.name %>'s Pets </h2>

<% if pets.size > 0 %>
<ul id="pet_list" class="grid">
  <table>
    <tr>
      <th>Name</th>
      <th>Species</th>
      <th>Breed</th>
      <th>Sex</th>
      <th>Date of birth</th>
      <th>Color</th>
      <th>Favorite food</th>
      <th>Description</th>
      <th colspan="2">Controls</th>
    </tr>
      <%= render :partial => "shared/pet", :collection => pets %>
  </table>
</ul>  
<% end %>

<% if current_person?(@person)%>
  <%= link_to "Add pet", new_person_pet_path(@person) %>
<% end %>
