<%- column_div :type => :primary do -%>
  <h2>Categories</h2>

	<ol class="list forum full">
	  <%= render :partial => "category", :collection => @categories %>
	</ol>

	<%- if admin? -%>
		<%= link_to "Add category", new_catalog_path %>
	<% end %>
<% end %>

<%- column_div :type => :secondary do -%>
  <%= render :partial => 'searches/box' %>
  <%= render :partial => 'shared/minifeed' %>
<%- end -%>
